{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>Project Tasks</h1>

    <div class="card">

        <h3>Purpose</h3>

        <p>
            Tasks module is used for assigning project work
            and monitoring task completion.
        </p>

        <h3>Features</h3>

        <ul>
            <li>Assign task to employees</li>
            <li>Priority level</li>
            <li>Task deadline</li>
            <li>Task completion status</li>
            <li>Pending task management</li>
        </ul>

    </div>

</div>

{% endblock %}