{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>Internship Syllabus</h1>

    <div class="card">

        <h3>Purpose</h3>

        <p>
            Syllabus module is used to define training plans
            based on internship duration.
        </p>

        <h3>Features</h3>

        <ul>
            <li>Month-wise syllabus planning</li>
            <li>Technology learning path</li>
            <li>Task allocation</li>
            <li>Project milestones</li>
            <li>Weekly progress tracking</li>
            <li>Submission deadlines</li>
        </ul>

    </div>

</div>

{% endblock %}