{% extends 'base.html' %}

{% block content %}

<div class="card p-4">

<h2>Employees List Module</h2>

<hr>

<h4>Purpose</h4>

<p>
This module is used to manage all employee information in one place.
</p>

<h4>Features</h4>

<ul>
<li>Add employee details</li>
<li>Edit employee details</li>
<li>Department details</li>
<li>Employee role management</li>
<li>Search employee</li>
</ul>

<h4>Reports</h4>

<ul>
<li>Total Employees</li>
<li>Department wise count</li>
<li>Employee status report</li>
</ul>

</div>

{% endblock %}